@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-5xl font-semibold;
}
h2 {
  line-height: 38px;
  @apply text-[28px] font-semibold;
}
h3 {
  line-height: 32px;
  @apply text-2xl font-semibold;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  @apply text-black;
}
